body {
    background-color: black;
    color: whitesmoke;
}

code {
    display: block;
    white-space: pre-wrap;
    overflow-y: scroll;
    padding: 1rem;
    height: 50vh;
}

code:focus {
    outline: 1px solid white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

#logs {
    white-space: pre-wrap;
    overflow-y: scroll;
    height: max-content;
}

.log-entry {
    margin: 2px 0;
}

.tab-content {
    display: none;
}

:has(#tab-cargo-toml:checked) #cargo-toml-content,
:has(#tab-lib-rs:checked) #lib-rs-content {
    display: block;
}

.loading::after {
    content: '';
    animation: dots 2s steps(4, end) infinite;
}

@keyframes dots {
    0% { content: ''; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
    100% { content: ''; }
}
